@import './variable';

.landing-header-paragraph{
    color: white;
    margin: 0px;
    font-size: 2.3rem;
    font-weight: 700;
}

.text-center{
    text-align: center;
}


//paragraph
.para2{
    margin: 0px;
    padding: 0px;
}

//for input box

input:focus{
    outline: none;
}

//heading
.commom-heading{
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    opacity: 0.5;
}

//link
.link{
    color: $logo_text;
}